@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@300;400;600;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  // colors
  --color-beaver: #9e7f66;
  --color-cod-gray: #111111;
  --color-mirage: #17192b;
  --color-ebony-clay: #242b37;
  --color-shuttle-gray: #5c6779;
  --color-dark-gray: #4c4c4c;
  --color-white: #fff;
  --color-almost-white: #fafafa;
  --color-border: rgba(151, 151, 151, 0.15);
  --color-dark-blue-shaodw: rgba(56, 66, 85, 0.5);
  --color-error: #b54949;

  // font weights
  --weight-light: 300;
  --weight-regular: 400;
  --weight-semi-bold: 600;
  --weight-bold: 700;

  // Design elements
  --transition: 300ms ease-in-out;
  --card-shadow: 0 7.5rem 10rem -5rem var(--color-dark-blue-shaodw);
}

$desktop: 1200px;
$tablet-end: 1199px;
$tablet-start: 768px;
$mobile: 767px;

@mixin max-width($arg) {
  @media screen and (max-width: $arg) {
    @content;
  }
}
@mixin min-width($arg) {
  @media screen and (min-width: $arg) {
    @content;
  }
}
@mixin min-max-width($arg) {
  @media screen and (min-width: $arg) and (max-width: $arg) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 10px;
  overflow-x: hidden;
}

body {
  background-color: var(--color-almost-white);
  font-family: "Spartan", sans-serif;
  overflow-x: inherit;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  display: inline-block;
}

.container {
  width: 100%;
  max-width: 115rem;
  padding: 0 2rem;
  margin: 0 auto;
}

.heading-primary {
  font-size: 6.4rem;
  font-weight: var(--weight-light);
  color: var(--color-white);
}

.heading-secondary {
  font-size: 4rem;
  margin-bottom: 3rem;
  max-width: 40rem;
  font-weight: var(--weight-bold);

  @include max-width(1149px) {
    margin-left: auto;
    margin-right: auto;
  }
  @include max-width(499px) {
    font-size: 3rem;
  }
}

.description {
  max-width: 46rem;
  font-size: 1.8rem;
  color: var(--color-ebony-clay);
  line-height: 1.6;
  font-weight: var(--weight-light);

  @include max-width(1149px) {
    margin-left: auto;
    margin-right: auto;
  }
}

.main-btn {
  text-transform: uppercase;
  color: var(--color-white);
  padding: 2rem 5.4rem;
  border: 1px solid var(--color-white);
  font-size: 1.5rem;
  letter-spacing: 1px;
  transition: var(--transition) background-color, var(--transition) color;

  &:hover {
    background-color: var(--color-white);
    color: var(--color-cod-gray);
  }
}

.two-col-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;

  @include max-width(1149px) {
    grid-template-columns: 1fr;
    padding: 0 10rem;
  }

  @include max-width(649px) {
    padding-left: 0;
    padding-right: 0;
  }
}

.pattern-divide {
  margin-bottom: 5rem;
}

// header
.header {
  background-image: url(./images/homepage/hero-bg-desktop@2x.jpg);
  min-height: 82rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 60px 0;
  color: var(--color-white);

  @include max-width(1149px) {
    background-image: url(./images/homepage/hero-bg-tablet@2x.jpg);
    background-position: top;
    min-height: 110rem;
    text-align: center;
  }

  @include max-width(499px) {
    background-image: url(./images/homepage/hero-bg-mobile@2x.jpg);
  }

  &__site-link {
    @include max-width(1149px) {
      margin-top: 48rem;
    }
    @include max-width(499px) {
      margin-top: 34rem;
    }
  }

  &__heading-primary {
    margin-top: 15rem;
    max-width: 54rem;
    margin-bottom: 3rem;

    @include max-width(1149px) {
      font-size: 5rem;
      margin-top: 4rem;
      margin-left: auto;
      margin-right: auto;
    }

    @include max-width(649px) {
      font-size: 4.2rem;
    }
  }

  &__description {
    color: var(--color-white);
    margin-bottom: 4rem;

    @include max-width(1149px) {
      margin: 0 auto 4rem auto;
      max-width: 68rem;
    }
  }
}

// section advantages
.advantages {
  color: var(--color-ebony-clay);
  position: relative;
  z-index: 2;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 16%;
    right: 40%;
    background: #f2f3f5;
    height: 320px;
    width: 60%;
    border-top-right-radius: 100px;
    z-index: -1;

    @include max-width(499px) {
      display: none;
    }
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 40%;
    background: #f2f3f5;
    height: 320px;
    width: 60%;
    border-top-left-radius: 100px;
    z-index: -1;

    @include max-width(499px) {
      display: none;
    }
  }

  &__img-left {
    transform: translateY(-70px);
    box-shadow: var(--card-shadow);
    display: none;

    @include max-width(499px) {
      display: block;
    }
  }

  &__img-right {
    position: relative;
    display: none;
    @include max-width(499px) {
      display: block;
      grid-row: 3/4;
      box-shadow: var(--card-shadow);
    }
  }

  &__col-img-l {
    background: url(./images/homepage/enjoyable-place-desktop@2x.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 133%;
    transform: translateY(-70px);
    box-shadow: var(--card-shadow);

    @include max-width(1149px) {
      background: url(./images/homepage/enjoyable-place-tablet@2x.jpg);
      background-repeat: no-repeat;
      background-size: contain;
      padding-top: 62.82%; /* (img-height / img-width * container-width) */
    }

    @include max-width(499px) {
      display: none;
    }
  }

  &__col-img-r {
    background: url(./images/homepage/locally-sourced-desktop@2x.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 133%;
    transform: translateY(70px);
    box-shadow: var(--card-shadow);

    @include max-width(1149px) {
      background: url(./images/homepage/locally-sourced-tablet@2x.jpg);
      background-repeat: no-repeat;
      background-size: contain;
      grid-row: 3/4;
      transform: translateY(0);
      padding-top: 62.82%; /* (img-height / img-width * container-width) */
    }
    @include max-width(499px) {
      display: none;
    }
  }

  &__col-r {
    margin-left: 6rem;
    transform: translateY(-70px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    @include max-width(1149px) {
      transform: translateY(0);
      text-align: center;
      align-items: center;
      margin: 0 auto 15rem auto;
    }
  }

  &__col-l {
    @extend .advantages__col-r;
    margin-left: 0;
    z-index: 1;
    transform: translateY(70px);

    @include max-width(1149px) {
      transform: translateY(0);
      margin: 10rem auto 15rem auto;
    }

    @include max-width(1149px) {
      margin-top: 7rem;
    }

    &::before {
      content: "";
      position: absolute;
      width: 160px;
      height: 76px;
      left: 195%;
      top: 41%;
      background: url(./images/patterns/pattern-lines.svg);
      background-position: center;
      background-size: contain;

      @include max-width(1149px) {
        left: 130%;
        top: -90%;
      }

      @include max-width(649px) {
        display: none;
      }
    }
  }

  &__patern {
    align-self: flex-start;

    @include max-width(1149px) {
      align-self: center;
    }
  }
}

// section menu
.menu {
  position: relative;
  padding-top: 19rem;
  padding-bottom: 10rem;
  color: var(--color-white);
  background: var(--color-cod-gray);

  @include max-width(1149px) {
    padding-top: 10rem;
  }

  &__cols {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @include max-width(1149px) {
      grid-template-columns: 1fr;
      padding: 0 10rem;
    }

    @include max-width(649px) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__col-l {
    @include max-width(1149px) {
      text-align: center;
    }
  }

  &__patern {
    @include max-width(1149px) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__heading-secondary {
    @include max-width(1149px) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__description {
    @include max-width(1149px) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__col-r {
    margin-top: 5.7rem;

    @include max-width(1149px) {
      margin-top: 7rem;
    }
  }

  &__meal-container {
    display: grid;
    grid-template-columns: 13rem 1fr;
    padding-bottom: 3rem;
    margin-top: 3rem;
    border-bottom: 1px solid var(--color-border);

    @include max-width(649px) {
      display: block;
    }

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      border-bottom: unset;
    }
  }

  &__meal-img-container {
    width: 13rem;
    position: relative;

    @include max-width(649px) {
      width: 100%;
    }

    &::before {
      content: "";
      position: absolute;
      top: 15px;
      right: -30px;
      width: 30px;
      height: 1px;
      background: var(--color-beaver);

      @include max-width(649px) {
        display: none;
      }
    }
  }

  &__meal-img {
    @include max-width(649px) {
      margin: 0 auto 3rem auto;
    }
  }

  &__meal-description-container {
    margin-left: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include max-width(649px) {
      text-align: center;
      max-width: 42rem;
      margin: 0 auto;
    }
  }

  &__meal-title {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
  }

  &__meal-paragraph {
    font-size: 1.5rem;
    line-height: 1.9;
  }

  &__description {
    color: inherit;
  }
}

// events
.events {
  padding: 16rem 0;
  position: relative;
  @include max-width(499px) {
    padding: 12rem 0;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: #f2f3f5;
    height: 320px;
    width: 38%;
    border-top-right-radius: 100px;
    z-index: -1;

    @include max-width(649px) {
      display: none;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;

    @include max-width(1149px) {
      grid-template-columns: 1fr;
    }
  }

  &__col-l {
    position: relative;

    @include max-width(1149px) {
      padding-left: 10rem;
      padding-right: 10rem;
    }

    @include max-width(649px) {
      padding-left: 0;
      padding-right: 0;
    }

    &::before {
      content: "";
      position: absolute;
      width: 160px;
      height: 76px;
      left: -40px;
      top: -36px;
      background: url(/images/patterns/pattern-lines.svg);
      background-position: center;
      background-size: contain;

      @include max-width(1149px) {
        left: 20px;
      }

      @include max-width(649px) {
        display: none;
      }
    }
  }

  &__col-r {
    margin-left: 7rem;
    position: relative;

    @include max-width(1149px) {
      margin-left: 0;
      margin-top: 20rem;
      text-align: center;
    }

    @include max-width(649px) {
      margin-top: 26rem;
    }
  }

  &__description {
    margin-bottom: 5rem;
  }

  .main-btn--events {
    border-color: var(--color-cod-gray);
    background: var(--color-cod-gray);

    &:hover {
      color: var(--color-cod-gray);
      background: var(--color-white);
    }
  }

  &__navigation {
    margin-top: 8rem;
    width: 100%;

    @include max-width(1149px) {
      position: absolute;
      left: 0;
      top: -200px;
    }

    @include max-width(649px) {
      top: -280px;
    }
  }

  &__nav-list {
    list-style: none;

    @include max-width(1149px) {
      display: flex;
      justify-content: space-between;
    }

    @include max-width(649px) {
      flex-direction: column;
    }
  }

  &__btn-trigger {
    text-transform: uppercase;
    background: none;
    border: none;
    letter-spacing: 2px;
    font-size: 1.5rem;
    padding: 0.8rem 0;
    color: var(--color-shuttle-gray);
    font-family: "Spartan", sans-serif;
    cursor: pointer;
    margin: 0.5rem 0;
    position: relative;
    transition: var(--transition);

    @include max-width(1149px) {
      padding: 1rem;
    }

    &:hover {
      color: var(--color-cod-gray);
    }

    &:focus {
      outline: none;
    }

    &.active {
      color: var(--color-cod-gray);

      &::before {
        content: "";
        height: 1px;
        width: 70px;
        position: absolute;
        left: -100px;
        background: var(--color-beaver);
        top: 40%;

        @include max-width(1149px) {
          left: 50%;
          transform: translateX(-50%);
          top: 40px;
        }
      }
    }
  }
}

// reservation
.reservation {
  background: url(./images/homepage/ready-bg-desktop@2x.jpg);
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 9rem 0;

  @include max-width(1149px) {
    background: url(./images/homepage/ready-bg-tablet@2x.jpg);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
  }
  @include max-width(649px) {
    background: url(./images/homepage/ready-bg-mobile@2x.jpg);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include max-width(1149px) {
      display: block;
      text-align: center;
    }
  }

  &__heading {
    color: var(--color-white);
    max-width: 100%;
    margin-bottom: 0;

    @include max-width(1149px) {
      margin-bottom: 4rem;
    }
  }
}

// footer
.footer {
  background: var(--color-cod-gray);
  color: var(--color-white);
  padding: 9rem 0;

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;

    @include max-width(1149px) {
      grid-template-columns: 1fr 1fr;
    }

    @include max-width(767px) {
      grid-template-columns: 1fr;
      text-align: center;
    }
  }

  &__col-3 {
    @include max-width(1149px) {
      grid-column: 2/3;
      grid-row: 2/3;
    }

    @include max-width(767px) {
      grid-column: 1/2;
      grid-row: 3/4;
    }
  }

  &__paragraph {
    text-transform: uppercase;

    @include max-width(399px) {
      font-size: 0.8rem;
    }

    span {
      display: block;
      margin-bottom: 1rem;
      font-weight: var(--weight-regular);
      font-size: 1.4rem;
      letter-spacing: 2px;

      @include max-width(399px) {
        font-size: 1rem;
      }
    }

    a {
      color: inherit;
    }
  }
}
